<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="../css/style.css" rel="stylesheet">
   
    <title>home</title>
</head>
<body>
    <h1 class="text-muted mt-5 ml-5">{{title}}</h1>
       <p class="text-muted ml-5">Search your location see your weather</p>
       <form>
        <div class="input-group mb-3 ml-5  w-75">
         <input type="text" class="form-control w-50" placeholder="Search">
  <div class="input-group-append">
    <button class="btn btn-success ml-2">Search</button>
  </div>
</div>
       </form>
        <h3 class="text-muted ml-5 mt-5 show"></h3>
         <h3 class="text-muted ml-5 location"></h3>
     {{>footer}}
      <script src="../js/script.js"></script>
</body>            
</html>